NUXT_ELEVEN_KEY=
NUXT_ASSEMBLY_KEY=

NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
NUXT_OAUTH_GOOGLE_REDIRECT=

NUXT_SESSION_PASSWORD=

NUXT_MONGOOSE_URI=

NUXT_OPENAI_KEY=

NUXT_MOUNT=
NUXT_AUDIO_DIR=

NUXT_STRIPE_KEY=
NUXT_STRIPE_SECRET=
NUXT_STRIPE_WEBHOOK=